*{
    margin: 0;
    padding: 0;
}

.container{
    height: 100vh;
    background-color: black;
}

.container i{
    width: 1px;
    height: 10px;
    position: absolute;
    top: 0px;
    left: 20px;
    background-color: white;
    animation: line 2s linear infinite;
}

@keyframes line{
    from{
        transform: translateY(0);
    }
    to{
        transform: translateY(90vh);
    }
}